.c-service{
    justify-content: space-between;
    padding: 5px 15px;
    border: 1px solid $main-color;
    background-color: $light-main-color;
    align-items: center;
    border-radius: 15px;
}