.c-sidebar {
    &.c-sidebar-light {
        border-left: none !important;

        .c-sidebar-nav-link {
            &:hover {
                background-color: $main-color;
                border-radius: 30px;
            }

            &.c-active {
                background-color: $main-color;
                color: white;
                border-radius: 30px;
                text-shadow: 1px 1px 10px;
            }
        }

        .c-sidebar-nav-dropdown {
            &.c-show {
                border-radius: 30px;
                background-color: $main-color;

                .c-sidebar-nav-link {
                    &.c-active {
                        color: white;
                    }
                }
            }
        }

        .c-sidebar-nav-dropdown-toggle {
            &:hover {
                background-color: $main-color;
            }
        }
    }
}

.c-sidebar-nav-item {
    border-radius: 30px;
}

.sidbar {
    width:100%;
    box-shadow: -10px 0 10px rgb(0 0 0 / 3%);
    padding: 24px;
    // border-style: solid;
    // border-color: black;

    .nav {
        background-color: white;
        padding-right: 8px;
        padding-left: 8px;
        padding-top: 5px;
        border-radius: 18px;
        margin-top: 3px;
        margin-bottom: 3px;
        // box-sizing: border-box;
        // margin-bottom: 8px;
    }
    .nav-active{
        background-color: $light-main-color;
        padding-right: 8px;
        padding-left: 8px;
        padding-bottom: 5px;
        padding-top: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        border-radius: 18px;
        box-sizing: border-box;
        .nav-title-text {
            color: $main-color;
        }
        .nav-icon {
            color: $main-color;
        }
        .nav-children-active:hover {
            color: $main-color;
        }
    }

    .nav-title {
        cursor: pointer;
        width: 100%;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        align-items: center;
        // .nav-icon {
        //     color: red;
        //     background-color: aquamarine;
        // }

        .nav-title-text {
            font-weight: normal;
        }
    }


    .nav-children {
        cursor: pointer;
        display: none;
        width: 100%;
        align-items: center;
        box-sizing: border-box;
        padding-right: 32px;
        .nav-children-text {
            font-weight: normal;
        }
    }
    .nav-children-active{
        cursor: pointer;
        width: 100%;
        align-items: center;
        box-sizing: border-box;
        padding-right: 32px;
        z-index: 1;
        .nav-children-text {
            font-weight: normal;
        }
    }
    .nav:hover {
        background-color: $light-main-color;

        .nav-title-text {
            color: $main-color;
        }

        .nav-icon {
            color: $main-color;
        }

        // .nav-children {
        //     display: block;
        // }

        .nav-children:hover {
            color: $main-color;
        }
    }
}