div.table{
    display: flex;
    flex-direction: column;
    flex: 90%;
}
.tableheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tableactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 25%;
    min-width: max-content;
}
.tableactions .selectall {
    display: flex;
    align-items: center;
    direction: ltr;
    margin: 0 3vw;
}
.inactive {
    color: #747474;
}
.inactive i::before {
    color: #747474;
}
.tableactions button {
    background: none;
    border: none;
}
.tableactions button.inactive i::before{
    color: #747474;
}
.tableactions button.active i::before{
    color: #111;
}
.tableactions .filter {
    text-decoration: none;
    color: #FC6A3E;
}
.settablerow select {
    background: none;
    border: none;
}
table {
    width: 90%;
    margin: 1vw auto;
    overflow-x: auto;
}
thead {
    height: 5vw;
}
tr {
    height: 3vw;
    text-align: center;
}
tbody td a {
    text-decoration: none;
    color: #111;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.pagination li {
    width: 2vw;
}
ul.pagination a.pagelink {
    text-decoration: none;
    color: #111;
}
ul.pagination a.pagelink:hover {
    color: #FFF3EF;
}
ul.pagination .disable a.pagelink:hover {
    color: #111;
}
ul.pagination a.pagelink.active {
    color: #FC6A3E;
}
.tablewithform {
    display: flex;
    flex-direction: row;
}
.tablewithform .form {
    border: 2px solid #FC6A3E;
    border-radius: 1vw;
    padding: 2vw;
    margin: 2vw;
    height: max-content;
}
.tablewithform .form form ul.breadcrumd {
    justify-content: center;
    margin-bottom: 2vw;
}
.tablewithform .inputwithdesc {
    margin: 1.5vw 0;
}
.tablewithform .inputwithdesc .input p {
    margin-bottom: 0.5vw;
}
.tablewithform .inputwithdesc .input input {
    background: none;
    border: 2px solid #9f9f9f;
    border-radius: 0.5vw;
    height: 3vw;
    min-width: max-content;
    width: 15vw;
}
.tablewithform .form .input, .tablewithform .form .switches{
    margin: 2vw 0;
}
table.table tbody a img {
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    border-radius: 0.5vw;
    object-fit: cover;
}
.address-session{
    display: flex;
    flex-direction: column;
    flex: 90%;
}