@import '../src/scss/style/font.css';
@import '../src/scss/style/input.css';
@import '../src/scss/style/main.css';
@import '../src/scss/style/table.css';
@import '../src/scss/style/tabs.css';
@import '../src/scss/style/data.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
